.cumplidos-dve-title{
    text-align: center;
}

.container-name{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.table .card-oas{
    width: 98%;
}

.table ng2-smart-table{
    text-align: center;
}