<mat-card class="card-oas">
    <mat-card-title class="cumplidos-dve-title">
        <h2>Aprobación Supervisor</h2>
    </mat-card-title>
    <mat-card-content>
        <div class="container-name">
            <mat-form-field>
                <input matInput placeholder="Nombre del Supervisor" disabled="true" [value]="NombreSupervisor">
            </mat-form-field>
        </div>
        <div class="table">
            <mat-card class="card-oas">
                <mat-card-title class="cumplidos-dve-title">
                    <h3>Peticiones</h3>
                </mat-card-title>
                <mat-card-content>
                    <ng2-smart-table [settings]="PeticionesSupervisorSettings" [source]="PeticionesSupervisorData" (custom)="Acciones($event)" (userRowSelect)="CumplidosSeleccionados($event)"  ></ng2-smart-table>
                    <button  mat-raised-button class="send" (click)="AprobarMultiplesCumplidos()" [disabled]="DeshabilitarBoton">Aprobar Cumplidos</button>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card> 