.card-oas{
    width: 97%;
}

.ver-soportes-title{
    text-align: end;
}

.button-close{
    color: red;
    font-size: larger;
}

.ver-soportes-title-2{
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: var(--primary);
    color: white;
}

.ver-soportes-content-2{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#documentos{
    margin-top: 10px;
}

.button-ver{
    width: 90%;
    color: var(--primary);
    text-align: end;
}