<mat-card class="card-oas">
    <mat-card-title class="cumplidos-dve-title">
        <h2>Reporte Estado Cumplidos</h2>
    </mat-card-title>

    <mat-card-content>
        <div class="container-name">
            <mat-form-field>
                <input matInput placeholder="Nombre del usuario" disabled="true" [value]="nombreUsuario">
            </mat-form-field>
        </div>

        <form>
            <mat-form-field class="form-proyecto-curricular">
                <mat-label>FACULTAD</mat-label>
                <mat-select [(value)]="facultadSeleccionada" (valueChange)="obtenerProyectos()">
                    <mat-option [value]="facultad" *ngFor="let facultad of facultades">{{facultad.Nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-proyecto-curricular">
                <mat-label>PROYECTO CURRICULAR</mat-label>
                <mat-select [(value)]="proyectoSeleccionado">
                    <mat-option [value]="proyecto" *ngFor="let proyecto of proyectos">{{proyecto}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="form-time">
                <mat-form-field appearance="outline">
                    <mat-label>VIGENCIA</mat-label>
                    <mat-select [(value)]="vigenciaSeleccionada">
                        <mat-option [value]="vigencia" *ngFor="let vigencia of vigencias">{{vigencia}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>MES</mat-label>
                    <mat-select [(value)]="mesSeleccionado">
                        <mat-option [value]="mes" *ngFor="let mes of meses">{{mes.Descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button class="send" (click)="consultarCumplidos()">Consultar</button>
        </form>
        <div class="table">
            <mat-card class="card-oas">
                <mat-card-title class="cumplidos-dve-title">
                    <h3>Cumplidos</h3>
                </mat-card-title>
                <mat-card-content>
                    <ng2-smart-table [settings]="peticionesSettings" [source]="PeticionesData"></ng2-smart-table>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>


</mat-card>