<div class="container-welcome">
    <mat-card class="card">
        <mat-card-title>
            <h1 class="title">BIENVENIDO AL MÓDULO DE CUMPLIDOS DVE</h1>
        </mat-card-title>
        <mat-card-content>
            <p class="text">Se realizaron cambios en la interfaz de usuario, que no interfieren con el flujo de carga de los cumplidos de los Docentes de Vinculación Especial.
                Los invitamos a mirar los siguientes manuales de usuario:</p>
            <mat-list>
                <mat-list-item><a class="manual" href="#">- Manual de usuario</a></mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>