.cumplidos-dve-title{
    text-align: center;
}

.formulario{
    width: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.año{
    margin-left: 25%;
    width: 70%;
    margin-right: 40px;
}

.mes{
    width: 70%;
    margin-left: 40px;
}


.message{
    position: relative;
    left: 25%;
    width: 50%;
    text-align: center;
}
.title{
    display: block;
}

.content{
    font-size: large;
}

.send{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 47%;
    color: white;
    background-color: forestgreen;
}

.table{
    text-align: center;
}